’Twas brillig, and the slithy toves
      Did gyre and {{ TEST_ACTION }} in the wabe:
All mimsy were the borogoves,
      And the mome raths outgrabe.

“Beware {{ TEST_NAME }}, my {{ TEST_PERSON }}!
      The jaws that bite, the claws that catch!
Beware the Jubjub bird, and shun
      The frumious Bandersnatch!”